In [1]:
import pickle

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

## Datasets

#### 1st Dataset

In [2]:
true_1 = pd.read_csv('True.csv')
true_1.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [3]:
#for i in range(10):
#    print(type(true_1.loc[i,'title']))

In [4]:
true_1.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [5]:
true_1.shape

(21417, 4)

In [6]:
fake_1 = pd.read_csv('data/Fake.csv')
fake_1.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
#for i in range(10):
#    print(type(fake_1.loc[i,'title']))

In [8]:
fake_1.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [9]:
fake_1.shape

(23481, 4)

Both Fake.csv and True.csv are of the same dataset we will have to add a label column when combining the three datasets together when creating a model we can use bag of words to identify the number of occurences of a word and determine what kind of attributes may be present in the fake ones compared to the true headlines

We can use these key words to train a model that uses it to predict whether the news is fake or real and also use an RNN to train on whle text and target to identify whether fake or real

#### 2nd Dataset

In [10]:
df_2 = pd.read_csv('data/news.csv')
df_2.head(5)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [11]:
df_2.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [12]:
df_2.shape

(6335, 4)

In [13]:
#for i in range(10):
#    print(type(df_2.loc[i,'title']))

This dataset doesnt have the date but the other two data set have dateset.we can use bag of words to find the most used words in the false one
we can extract we can combine all three datasets and take the columns with title and text and label, we will have to binary encode the label in this dataset

We can use these key words to train a model that uses it to predict whether the news is fake or real and also use an RNN to train on whle text and target to identify whether fake or real

#### 3rd Dataset

In [14]:
df_3 = pd.read_csv('data/FA-KES-Dataset.csv', encoding='unicode_escape')
df_3.head(5)

,unit_id,article_title,article_content,source,date,location,labels
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0

In [15]:
df_3.columns

Index(['unit_id', 'article_title', 'article_content', 'source', 'date',
       'location', 'labels'],
      dtype='object')

In [16]:
df_3.shape

(804, 7)

same as above two dataset first we'll use bag of words and word counts to find words that are commonly in fake news that are not in the true news further we can use a recurrent nueral network identify the pattern of words that mostly resembles a fake news, here the label dataset is already binary encoded therefore no need to do it manually, the main thing is to get the same format in all three datasets

We can use these key words to train a model that uses it to predict whether the news is fake or real and also use an RNN to train on whle text and target to identify whether fake or real

## API's

The method used is explained below while the implementation will be done in another note book in this folder

Using the rapidapi collective api and using newsapi. By using these we get news headlines from
<li>Google news</li>
<li>Newscatcher</li>
<li>Bing news</li>
<li>Newsapis</li>

We can load the headlines using api's and then process them such that they can be inputted to the mysql database. We receive a string with all the details from the apis we need to convert them to a table with article headline.

and by using the mysql connector as well the python package for it we can input the data into the mysql table , this can all be done in a single go 

<b> Check the APIcalls Jupiter notebook for the api's that can be used</b>

## Formatting the dataframe

In [17]:
true_1.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [18]:
#total_df = pd.DataFrame(columns = ['title','text','label'])
#total_df

In [19]:
condition = {'true': 1,
             'fake': 0}

In [20]:
if 'label' not in true_1.columns:
    true_1.insert(len(true_1.columns), 'label', condition['true'])

In [21]:
true_1 = true_1[['title', 'text', 'label']]

In [22]:
if 'label' not in fake_1.columns:
    fake_1.insert(len(fake_1.columns), 'label', condition['fake'])

In [23]:
fake_1 = fake_1[['title', 'text', 'label']]

In [24]:
combined = pd.concat([true_1, fake_1], ignore_index=True)

In [25]:
#for i in range(10):
#    print(type(combined.loc[i,'title']))

In [26]:
combined.shape

(44898, 3)

In [27]:
combined.head(5)

,title,text,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [28]:
#for i in range(10):
#    print(type(combined.loc[i,'title']))

In [29]:
for index in df_2.index:
    if df_2.loc[index, 'label'] == 'FAKE':
        df_2.loc[index, 'label'] = condition['fake']
    else:
        df_2.loc[index, 'label'] = condition['true']

In [30]:
df_2 = df_2[['title', 'text', 'label']]

In [31]:
df_2.head(5)

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [32]:
combined = pd.concat([combined, df_2], ignore_index=True)

In [33]:
combined.shape

(51233, 3)

In [34]:
#for i in range(10):
#    print(type(combined.loc[i,'title']))

In [35]:
#for each in combined.index:
#    print(type(combined.loc[each,'title']))

In [36]:
#combined = combined.apply(lambda x: stripped_df(x) if x.name != 'label' else x)

In [37]:
combined.to_csv('combined.csv')

In [38]:
#df_3['title'] = df_3['article_title']
#df_3['text'] = df_3['article_content']

In [39]:
#df_3.at[801,'article_title']

In [40]:
if 'combined' not in combined.columns:
    combined.insert(len(combined.columns), 'combined', None)

if 'label_write' not in combined.columns:
    combined.insert(len(combined.columns), 'label_write', None)

for row_index in combined.index:
    for cond in condition.keys():
        if combined.loc[row_index, 'label'] != condition[cond]:
            #print(cond)
            combined.loc[row_index, 'label_write'] = cond

    #break
    combined.loc[row_index, 'combined'] = combined.loc[row_index, 'title'] + ' ' + combined.loc[row_index, 'text']

In [41]:
combined.head(5)

,title,text,label,combined,label_write
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1,"As U.S. budget fight looms, Republicans flip t...",fake
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1,U.S. military to accept transgender recruits o...,fake
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1,Senior U.S. Republican senator: 'Let Mr. Muell...,fake
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1,FBI Russia probe helped by Australian diplomat...,fake
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1,Trump wants Postal Service to charge 'much mor...,fake

In [42]:
combined.label_write.unique()

array(['fake', 'true'], dtype=object)

In [43]:
combined.head(5)

,title,text,label,combined,label_write
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1,"As U.S. budget fight looms, Republicans flip t...",fake
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1,U.S. military to accept transgender recruits o...,fake
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1,Senior U.S. Republican senator: 'Let Mr. Muell...,fake
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1,FBI Russia probe helped by Australian diplomat...,fake
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1,Trump wants Postal Service to charge 'much mor...,fake

In [44]:
'''if 'label_word' not in combined.columns:
    combined.insert(1,'label_word',None)

for i in combined.index:
    for cond in condition.keys():
        print(combined.loc[i,'label'])
#        if combined.loc[i,'label'] == condition[cond]:
#            combined.loc[i,'label_word'] = cond
    break'''

"if 'label_word' not in combined.columns:\n    combined.insert(1,'label_word',None)\n\nfor i in combined.index:\n    for cond in condition.keys():\n        print(combined.loc[i,'label'])\n#        if combined.loc[i,'label'] == condition[cond]:\n#            combined.loc[i,'label_word'] = cond\n    break"

In [45]:
for index in combined.index:
    #print(combined_date.loc[index,'title'].strip())
    title = ''.join(combined.loc[index, 'title'].strip().split(','))
    text = ''.join(combined.loc[index, 'text'].strip().split(','))
    title = ''.join(title.strip().split('"'))
    text = ''.join(text.strip().split('"'))

    combined.loc[index, 'title'] = title
    combined.loc[index, 'text'] = text
    #break

In [46]:
combined

,title,text,label,combined,label_write
0,As U.S. budget fight looms Republicans flip th...,WASHINGTON (Reuters) - The head of a conservat...,1,"As U.S. budget fight looms, Republicans flip t...",fake
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1,U.S. military to accept transgender recruits o...,fake
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1,Senior U.S. Republican senator: 'Let Mr. Muell...,fake
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1,FBI Russia probe helped by Australian diplomat...,fake
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1,Trump wants Postal Service to charge 'much mor...,fake
...,...,...,...,...,...
51228,State Department says it can't find emails fro...,The State Department told the Republican Natio...,1,State Department says it can't find emails fro...,fake
51229,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,true
51230,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligarc...,0,Anti-Trump Protesters Are Tools of the Oligarc...,true
51231,In Ethiopia Obama seeks progress on peace secu...,ADDIS ABABA Ethiopia —President Obama convened...,1,"In Ethiopia, Obama seeks progress on peace, se...",fake
51232,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1,Jeb Bush Is Suddenly Attacking Trump. Here's W...,fake

### The random Forest Classifier in scikit-learn is used with tandom with tfidf vectorizer

Two random forest models are trained with 1000 and 5000 trees both are saved in the model saves folder which is not uploaded due to size restrictions

In [47]:
combined.to_csv('combined.csv')

In [48]:
v = TfidfVectorizer()
tfidf = v.fit(combined['combined'])

with open('./Model_Save/tfidf.pickle', 'wb') as fin:
    pickle.dump(v, fin)

In [49]:
x = v.transform(combined['combined'])
y = combined['label_write']

In [50]:
with open('./Model_Save/vectorizer.pk', 'wb') as fin:
    pickle.dump(v, fin)

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
rfr = RandomForestClassifier(1000, n_jobs=4, verbose=1)

In [53]:
rfr.fit(x, y)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   14.4s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.1min
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:  2.5min
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:  4.6min
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:  5.8min finished

RandomForestClassifier(n_estimators=1000, n_jobs=4, verbose=1)

In [54]:
import joblib as jb

In [55]:
jb.dump(rfr, "./Model_Save/random_forest_1000.joblib")

['./Model_Save/random_forest_1000.joblib']

In [56]:
rfr = RandomForestClassifier(5000, n_jobs=4, verbose=1)

In [57]:
rfr.fit(x, y)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   15.5s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.1min
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:  2.6min
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:  4.6min
[Parallel(n_jobs=4)]: Done 1242 tasks      | elapsed:  7.1min
[Parallel(n_jobs=4)]: Done 1792 tasks      | elapsed: 10.2min
[Parallel(n_jobs=4)]: Done 2442 tasks      | elapsed: 13.8min
[Parallel(n_jobs=4)]: Done 3192 tasks      | elapsed: 18.1min
[Parallel(n_jobs=4)]: Done 4042 tasks      | elapsed: 22.9min
[Parallel(n_jobs=4)]: Done 4992 tasks      | elapsed: 28.3min
[Parallel(n_jobs=4)]: Done 5000 out of 5000 | elapsed: 28.3min finished

RandomForestClassifier(n_estimators=5000, n_jobs=4, verbose=1)

In [58]:
jb.dump(rfr, "./Model_Save/random_forest_5000.joblib")

['./Model_Save/random_forest_5000.joblib']

In [59]:
'''start_token = " "  # so that the network knows that we're generating a first token

# this is the token for padding,
# we will add fake pad token at the end of names 
# to make them of equal size for further batching
pad_token = "#"'''

'start_token = " "  # so that the network knows that we\'re generating a first token\n\n# this is the token for padding,\n# we will add fake pad token at the end of names \n# to make them of equal size for further batching\npad_token = "#"'

In [60]:
'''print('number of samples:', len(combined['title'].to_list()))
for x in combined['title'].to_list()[::2000]:
    print(x)'''

"print('number of samples:', len(combined['title'].to_list()))\nfor x in combined['title'].to_list()[::2000]:\n    print(x)"

In [61]:
'''print('number of samples:', len(combined['text'].to_list()))
#for x in combined['text'].to_list()[::8000]:
#    print(x)'''

"print('number of samples:', len(combined['text'].to_list()))\n#for x in combined['text'].to_list()[::8000]:\n#    print(x)"

In [62]:
'''MAX_LENGTH_TITLE = max(map(len, combined['text'].to_list()))
print("max length:", MAX_LENGTH_TITLE)

plt.title('Sequence length distribution')
plt.hist(list(map(len, combined['text'].to_list())), bins=25);'''

'MAX_LENGTH_TITLE = max(map(len, combined[\'text\'].to_list()))\nprint("max length:", MAX_LENGTH_TITLE)\n\nplt.title(\'Sequence length distribution\')\nplt.hist(list(map(len, combined[\'text\'].to_list())), bins=25);'

In [63]:
'''MAX_LENGTH_TITLE = max(map(len, combined['title'].to_list()))
print("max length:", MAX_LENGTH_TITLE)

plt.title('Sequence length distribution')
plt.hist(list(map(len, combined['title'].to_list())), bins=25);'''

'MAX_LENGTH_TITLE = max(map(len, combined[\'title\'].to_list()))\nprint("max length:", MAX_LENGTH_TITLE)\n\nplt.title(\'Sequence length distribution\')\nplt.hist(list(map(len, combined[\'title\'].to_list())), bins=25);'

In [64]:
'''combined['len_title'] = list(map(len,combined['title'].to_list()))'''

"combined['len_title'] = list(map(len,combined['title'].to_list()))"

In [65]:
'''combined['len_text'] = list(map(len,combined['text'].to_list()))'''

"combined['len_text'] = list(map(len,combined['text'].to_list()))"

In [66]:
'''combined = combined.loc[(combined.len_title<=120)&(combined.len_text<=10000)]'''

'combined = combined.loc[(combined.len_title<=120)&(combined.len_text<=10000)]'

In [67]:
'''MAX_LENGTH_TITLE = max(map(len, combined['text'].to_list()))
print("max length:", MAX_LENGTH_TITLE)

plt.title('Sequence length distribution')
plt.hist(list(map(len, combined['text'].to_list())), bins=25);'''

'MAX_LENGTH_TITLE = max(map(len, combined[\'text\'].to_list()))\nprint("max length:", MAX_LENGTH_TITLE)\n\nplt.title(\'Sequence length distribution\')\nplt.hist(list(map(len, combined[\'text\'].to_list())), bins=25);'

In [68]:
'''MAX_LENGTH_TITLE = max(map(len, combined['title'].to_list()))
print("max length:", MAX_LENGTH_TITLE)

plt.title('Sequence length distribution')
plt.hist(list(map(len, combined['title'].to_list())), bins=25);'''

'MAX_LENGTH_TITLE = max(map(len, combined[\'title\'].to_list()))\nprint("max length:", MAX_LENGTH_TITLE)\n\nplt.title(\'Sequence length distribution\')\nplt.hist(list(map(len, combined[\'title\'].to_list())), bins=25);'